$bgColor: hal(0, 0%, 99%);
$fgColor: hsl(0, 0%, 30%);
$brandColor1: #CD4437;
$brandColor2: #F9CF86;
$brandColor3: #f2f2f2;
$brandColor4: #495867;
$brandColor5: #e6e6e6;


@mixin mobileStyles {
    @media screen and (max-width: 736px) { @content; }
}

@mixin activeNav {
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: $brandColor1;
}

:root {
    background-color: $bgColor;
    color: $fgColor;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
	/*font-weight: 300;*/
	line-height: 150%;
    margin: 0px;
}
body {
    margin: 0px;
}
a[href] {
    font-weight: bold;
    color: $brandColor1;
    text-decoration: none;

    &:hover, &:focus {
        color: lighten($brandColor1, 5%);
    }
}

.visuallyHidden {
    display: inline-block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Metropolis", sans-serif;
    line-height: 1.35;
}

code {
    color: $brandColor1;
    font-size: 85%;
    line-height: 1.1em;
}

pre code {
    display: block;
    padding: 1em;
    line-height: 1.3;
}

@mixin contentWidth {
    width: 90vw;
    max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
}
.contentWidth {
    @include contentWidth;
}
.textContentWidth {
    max-width: 35rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    @include mobileStyles {
        a[href] {
            word-wrap: break-word;
        }
    }
}
.button {
    font-family: "Metropolis", sans-serif;
    font-weight: bold;
    font-size: 0.725rem;
    line-height: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    background-color: $brandColor4;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 0.35rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: lighten($brandColor4, 5%);
    }
    &:active {
        background-color: darken($brandColor4, 5%);
    }
}
a.button[href] { color: #FFF; }

nav {
    font-family: Metropolis, sans-serif;
    font-size: 0.725rem;
    font-weight: bold;
    text-transform: uppercase;

    a[href] {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1.5rem;

        &:first-child {
            margin-left: 0px;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: relative;

    img#nicoZerpaLogo {
        width: 10rem;
        height: 3.75rem;
        border-radius: 10rem;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.3);

        @include mobileStyles {
            width: 40vw;
            height: calc(40vw * 0.375);
            
            max-width: 10rem;
            max-height: 3.75rem;
        }
    }
    .mobileMenuButton {
        display: none;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0px;
        border: none;
        background-color: transparent;
        background-image: url("/images/hamburger.svg");
        background-size: 1.5rem 1.5rem;
        overflow: hidden;
        text-indent: -10000px;
        white-space: nowrap;

        @include mobileStyles {
            display: block;
        }
    }
    nav {
        margin-left: 1.5rem;

        @include mobileStyles {
            margin-left: 0px;
        
            .mobileMenuContainer {
                position: absolute;
                display: flex;
                visibility: hidden;
                background-color: #FFF;
                right: 0px;
                top: calc(50% + 1.5rem);
                margin-left: 0px;
                padding: 0.5rem;
                box-shadow: 0px 0px 2.5vw rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                flex-direction: column;
                opacity: 0;
                transition: opacity 0.25s, visibility 0s linear 0.25s;
                
                a[href] {
                    padding: 0.25rem 1rem;
                    margin: 1px;
                    outline: none;

                    &:hover, &:focus {
                        @include activeNav;
                    }
                }
            }

            &:focus-within .mobileMenuContainer {
                visibility: visible;
                opacity: 1;
                transition: opacity 0.25s;
            }
        }

        #toggleDarkMode {
            background-color: $brandColor4;
            width: 3rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: middle;
            border-radius: 1.5rem;
            position: relative;
            overflow: hidden;
            padding: 0px;
            box-sizing: border-box;
            outline: none;
            border: 2px solid darken($brandColor4, 20%);
            margin-left: 2rem;
            cursor: pointer;

            @include mobileStyles {
                display: block;
                margin: 0.5rem auto;
            }

            &:focus { box-shadow: 0px 0px 3px 2px $brandColor1; }
            
            .innerDiv {
                appearance: none;
                background-color: $brandColor3;
                width: calc(1.5rem - 4px);
                height: calc(1.5rem - 4px);
                border-radius: calc(1.5rem - 4px);
                position: absolute;
                left: 0px;
                top: 0px;
                margin: 0px;
                padding: 0px;
                transition: left 0.25s;
                outline: none;
                z-index: 3;

                &:before, &:after {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    font-size: 0.75rem;
                    line-height: calc(1.5rem - 4px);
                }
                &:before {
                    content: "🌙";
                    right: calc(1.5rem - 4px);
                    padding-right: 0.25rem;
                }

                &:after {
                    content: "🌞";
                    left: calc(1.5rem - 4px);
                    padding-left: 0.25rem;
                }
            }
        }
    }
}


footer {
    border-top: 1px solid #ccc;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;

    nav {
        margin-bottom: 1.5rem;

        @include mobileStyles {
            display: flex;
            flex-direction: column;
            align-items: center;
            a[href] {
                margin: 1px 0px;
                padding: 0.25rem 2rem;
                
                &:hover, &:focus {
                    @include activeNav;
                }
            }
        }
    }

    #emailFooterButton {
        width: 147px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0px 0px .5ex;
        margin-top: -1.5px;
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;

        &:focus {
            #emailFooterImage {
                outline: 1px dotted black;
            }
        }
    }
    #emailFooterImage {
        width: 147px;
        height: 14px;
        display: block;
    }
}

.newsletterForm {
    background-color: $brandColor3;
    padding: 1.5rem;
    width: calc(90vw - 3rem);
    max-width: calc(35rem - 3rem);
    border-radius: .25rem;
    box-shadow: 0 0 0.5rem $brandColor3;
    margin-bottom: 2em;
    font-size: 90%;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;

    @include mobileStyles {
        margin-left: 0vw;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        border-radius: 0px;
    }

    h3 {
        color: $brandColor1;
        margin-top: 0px;
    }
    .newsletterFormFields {
        display: table;
        margin-bottom: 0.5rem;

        @include mobileStyles {
            display: block;
        }

        .newsletterFormFieldRow {
            display: table-row;

            @include mobileStyles {
                display: block;
                margin-bottom: 1rem;
            }

            > * {
                display: table-cell;
                vertical-align: middle;

                @include mobileStyles {
                    display: block;
                }
            }

            .newsletterFormLabel {
                width: 1%;
                padding-right: 1em;
                white-space: nowrap;
                padding-bottom: 0.5em;
                padding-top: 0.5em;

                @include mobileStyles {
                    width: auto;
                }
            }
        }

        input {
            transition: border-color .3s;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: .25em;
            border: 1px solid #e3e3e3;
            font-weight: 300;
            color: #222;
            display: block;
            font-family: Nunito Sans,sans-serif;
            font-size: .725rem;
            height: auto;
            letter-spacing: .02em;
            line-height: 2.2em;
            outline: none;
            padding: 0 .5em;
            width: 100%;

            &:focus {
                border-color: #495867;
                border-width: 2px;
                line-height: calc(2.2em - 2px);
            }
        }
    }

    .newsletterFormButtons { text-align: center; }
}
@mixin pageH1 {
    @include contentWidth;
    text-align: center;
    font-size: 3.33rem;
    line-height: 110%;
    letter-spacing: -0.025em;
    background-color: $brandColor1;
    color: $brandColor2;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 1em 2em;
    box-sizing: border-box;
    background-image: url("/images/nzbg-repeat-white.svg");
    background-position: center center;
    border-radius: 5px;

    @include mobileStyles {
        font-size: 1.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

div.homePage {
    .headerContentWidth {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        header {
            @include mobileStyles {
                .mobileMenuButton {
                    background-image: url("/images/hamburger-home.svg");
                }
            }

            nav {
                a {
                    color: #FFF;
                    @include mobileStyles {
                        color: #000;
                    }
                }

                #toggleDarkMode:focus { box-shadow: 0px 0px 3px 2px $brandColor2; }
            }
        }
    }
    @include mobileStyles {
        .textContentWidth .newsletterForm { margin-left: -5vw; }
    }

    h2 {
        color: $brandColor1;
        @include mobileStyles {
            font-size: 1.17rem;
        }
    }
}
#heroBanner {
    background-color: $brandColor1;
    background-image: url("/images/corner-01-top-left.svg"),
                      url("/images/corner-01-bottom-right.svg");
    background-size: auto auto, auto auto;
    background-repeat: no-repeat, no-repeat;
    background-position: left -20px top -20px, right -20px bottom -20px;

    color: $brandColor5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11rem 2rem 3rem 2rem;
    margin-bottom: 3rem;

    @include mobileStyles {
        font-size: 1.2rem;
        padding-top: 7rem;
        padding-bottom: 0px;
    }

    .newsletterForm {
        margin-bottom: 0px;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.1);

        p {
            margin-block-start: 0px;
        }
        .button {
            border: 2px solid $brandColor5;
        }
    }

    .heroContainer {
        max-width: 1140px;

        h1 {
            font-size: 4rem;
            color: $brandColor2;
            line-height: 110%;
            margin-top: 0rem;
            margin-bottom: 0rem;

            @include mobileStyles {
                width: calc(100vw - 2rem);
                font-size: 2.3rem;
                margin-left: 1rem;
            }
        }
        .heroText {
            font-family: Metropolis, sans-serif;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 2rem;
            line-height: 115%;
            letter-spacing: -0.025em;

            @include mobileStyles {
                margin-left: 1rem;
                margin-right: 1rem;
                font-size: 1.3rem;
            }
        }
    }
}
.featuredArticles {
    background-image: url("/images/corner-02-top-left.svg"), url("/images/corner-02-bottom-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top -255px left -160px, bottom -210px right -222px;

    background-color: $brandColor3;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem $brandColor3;
    padding: 2rem;
    margin-bottom: 1.5rem;

    @include mobileStyles {
        margin-left: -2.5vw;
        margin-right: -2.5vw;
    }

    article {
        h2 {
            font-size: 1.17rem;
            color: $brandColor1;
            a {
                color: inherit;
                text-decoration: none;
            }
        }
        a.readMore {
            font-family: "Metropolis", sans-serif;
            text-transform: uppercase;
            color: $fgColor;
            text-decoration: none;
            font-weight: bold;
            font-size: 70%;

            &:hover {
                opacity: 0.8;
            }
        }

        &:after {
            content: " ";
            border-top: 1px solid rgba(200,200,200);
            display: block;
            width: 5rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &:last-child:after {
            display: none;
            content: "";
        }
    }
}
.readMoreArticles { text-align: center; }

article.single {
    .articleHeader {
        @include pageH1;

        h1 {
            line-height: inherit;
            font-size: inherit;
            font-weight: bold;
            margin: 0px;
            border-bottom: 1px solid transparentize($brandColor5, 0.7);
            padding-bottom: 1rem;
            margin-bottom: 1.3rem;
        }

        .articleCreatedAt {
            font-size: 1rem;
            letter-spacing: 0px;
            font-weight: bold;
            color: $brandColor5;
            line-height: 1.4;
        }
    }
    margin-bottom: 2rem;

    h2, h3 { color: $brandColor1; }
    img { max-width: 100%; }
}
.relatedArticles {
    padding-top: 0.5em;
    position: relative;
    padding-bottom: 1em;

    &:before {
        border-top: 1px solid;
        content: " ";
        position: absolute;
        left: 10%;
        top: 0px;
        right: 10%;
        opacity: 0.2;
    }

    h3 { opacity: 0.9; }
}
blockquote {
    background-color: $brandColor3;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0.5em 1em;
    border-left: 0.5em solid darken($brandColor3, 10);
    font-style: italic;
}
.aboutMeImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 230px;
    height: 230px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 230px;
    overflow: hidden;                       
}
.articleList {
    h1 {
        @include pageH1;
        margin-bottom: 3rem;
    }
    article {
        margin-bottom: 3rem;
    }
    .pagination {
        text-align: center;
        a {
            display: inline-block;
            vertical-align: middle;
            width: 2em;
            height: 2em;
            line-height: 2em;
            margin: 0px 0.25em;

            &:hover {
                background-color: hsl(0, 0%, 95%);
                border-radius: 3px;
            }
        }
    }
}

:root.darkMode {
    color: darken($brandColor3, 10%);
    background-color: darken($brandColor4, 15%);

    a[href] { color: $brandColor2; }

    .button, a.button {
        
        background-color: darken($brandColor4, 7.5%);
        border: 2px solid lighten($brandColor4, 7.5%);
        color: $brandColor3;
        padding: calc(0.35rem - 2px) calc(1.5rem - 2px);
    }
    
    @include mobileStyles {
        header nav .mobileMenuContainer {
            background-color: darken($brandColor4, 5%);
        }
    }
    nav a[href] { color: inherit; }
    nav a[href]:focus { color: $brandColor2; }
    #toggleDarkMode {
        &:focus { box-shadow: 0px 0px 3px 2px $brandColor2; }
        .innerDiv { left: calc(1.5rem); }
    }
    footer {
        border-top-color: darken($brandColor4, 10%);
    }

    
    #heroBanner {
        border-bottom: 3px solid lighten($brandColor4, 50%);

        background-color: darken($brandColor4, 7.5%);
        box-shadow: 0 0 0.5rem darken($brandColor4, 12.5%);
        color: darken($brandColor3, 10%);

        .newsletterForm .button {
            background-color: darken($brandColor1, 5%);
            border-color: lighten($brandColor1, 25%);
        }
    }
    .featuredArticles {
        background-color: darken($brandColor4, 7.5%);
        box-shadow: 0 0 0.5rem darken($brandColor4, 12.5%);
        color: darken($brandColor3, 10%);

        article:after {
            border-top-color: darken($brandColor4, 15%);
        }
    }
    .newsletterForm {
        background-color: darken($brandColor4, 7.5%);
        box-shadow: 0 0 0.5rem darken($brandColor4, 12.5%);
        color: darken($brandColor3, 10%);
        h3 { color: $brandColor2; }
    }
    .articleList h1 {
        border: 3px solid lighten($brandColor4, 50%);
    }

    article.single {
        h2, h3 { color: $brandColor2; }
    }

    .newsletterForm .newsletterFormFields input {
        background-color: darken($brandColor4, 5%);
        border-color: darken($brandColor4, 15%);
    }
    code { color: $brandColor2; }
    blockquote {
        background-color: darken($brandColor4, 18%);
        border-left: 0.5em solid darken($brandColor4, 5%);
        font-style: italic;
    }
}

.newsletterPageContainer {
    position: absolute;
    left: 0px;
    top: 2em;
    width: 100vw;
    min-height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img#nicoZerpaLogo {
        display: block;
        margin-bottom: 2em;
    }
}